<style>
	html {
		height:100%;
	}

	body {
		margin: 0;
		font-family: Ubuntu, Raleway, Arial;
	}

	.container {
		margin: 0;
		width: 100%;
		height: 100%;
		background-image: url( "../image/dawn-190053.jpg" );
		background-size: cover;
		position: absolute;
		text-align: center;
	}

	h1 {
		font-family: Ubuntu, Raleway, Arial;
		font-size: 4em;
		margin: 0;
		padding: 0;
	}
	
	input {
		font-size: 1.2em;
		background-color: #ffffff;
		border-color: transparent;
		padding: 5px;
		margin: 10px;
	}
	
	.credit a {
		background-color: #000000;
		color: #ffffff;
		font-size: 0.8em;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 10px;
		opacity: .50;
	}
	
	.message {
		background-color: #ffff00;
		//padding: 10px;
	}

</style>