<?php
/**
 * 
 * Basic configuration details for your server.
 *
 * Advanced configuration should be placed in the "custom/config/config_advanced.php" file.
 * To set the database login for other server environments (production server, development server, testing server, etc.,
 * please go to the custom/config/database folder.
 *
 */
	
/**
 *
 * Basic database connection details.
 * 
 * Please enter the database login details for your server here.
 * 
 * The supported databases are:
		mysql		(default)
		mariadb
		pgsql 		(postgresql)
		cubrid 
		sqlsrv 		(Microsoft SQL Server)
		firebird
		ibm
		informix
		oci 		(oracle)
		odbc 		(odbc or db2)
		4D
 */

	$blastpad_config[ "database_connection" ][ "standard" ] = [
		"database_driver" 	=> "mysql",		
		"server" 			=> "127.0.0.1",					
		"port"				=> "",							
		"database" 			=> "putdatabasenamehere",
		"username" 			=> "putdatabaseusernamehere",
		"password" 			=> "putdatabasepasswordhere",
	];
	
/*
 *
 * Please go to the "custom/config/database" folder for other server environments.
 *
 */	
 
/**
 *
 * Site-specific keys
 * 
 */
	$blastpad_config[ "database_connection" ][ "table_prefix" ] = "bp_";
	$blastpad_config[ "site_salt" ] 							= "Aoef0892Lsgjslktri3523ufh";
	$blastpad_config[ "site_salt_cost" ] 						= 10;
	$blastpad_config[ "passphrase_salt_size" ] 					= 32;
	$blastpad_config[ "passphrase_pepper_size" ] 				= 32;
	$blastpad_config[ "allowed_login_attempt" ]					= 2;
	$blastpad_config[ "allowed_login_attempt_expire" ]			= 30;		// Time in seconds.
?>